body{
    background:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background:lightblue;
}

.assignment img { 
    width:200px;
    margin:13px;
    border:2px solid lightblue;
}

.assignment img:hover {
    border:2px solid #5499C7;
}

h1 {
    color:black;
    text-align:center;
}

a {
    text-decoration:none;
    color:black;
}

a:hover {
    color:#5499C7;
}